.player-controls {
  display: flex;
  grid-area: player-controls;
  background-color: var(--player-controls-bg);
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.player-control:first-child {
  margin-right: auto;
}

.player-control {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--instrument-notes-bg);
  color: var(--player-controls-bg);
  border: none;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
}

.player-control:hover {
  background-color: #fff;
}