.notes {
  overflow-x: hidden;
  grid-area: instrument-notes;
  background-color: #f5f5f5;
}

.notes-scroller {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 100px;
  transform: translateX(var(--field-scroll-offset));
}

.notes-board {
  display: grid;
  width: calc(100vw - 100px);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: var(--template-rows);
  --border-right-color: rgba(0, 0, 0, 0.1);
  --border-right-style: dashed;
  --border-bottom-color: rgba(0, 0, 0, 0.1);
}

.instrument-notes {
  --template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: var(--instrument-notes-bg);
}

.beat-notes {
  --template-rows: 1fr 1fr;
  background-color: var(--beat-notes-bg);
}

.notes-board > * {
  cursor: pointer;
  border-right: 1px var(--border-right-style) var(--border-right-color);
  border-bottom: 1px solid var(--border-bottom-color);
}

.notes-board > *:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.note {
  background-color: var(--note-bg, transparent);
}
